<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Data Science Tools and Ecosystem

In [2]:
## Introduction

In this notebook, Data Science Tools and Ecosystem are some of the basic skills using Markdown and python code in Jupyter Notebook as a part of my data science

SyntaxError: invalid syntax (1303570445.py, line 3)

In [3]:
## Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. JavaScript

SyntaxError: invalid syntax (2458402173.py, line 3)

In [4]:
## Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch
9. Apache Spark
10. ggplot2
11. PyTorch

SyntaxError: invalid syntax (3430506920.py, line 3)

In [5]:
## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |
| Spyder |
| VS Code |
| Data Management | MySQL, PostgreSQL, MongoDB |
| Data Analysis | Pandas, Apache Spark |
| Machine Learning | TensorFlow, Scikit-learn, PyTorch |
| Visualization | Matplotlib, Seaborn, Tableau |

SyntaxError: invalid syntax (3587662677.py, line 3)

In [6]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

In [9]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

In [11]:
**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science  
- Create and format tables in markdown
- Evaluate arithmetic expressions in Python
- Perform unit conversions in Python

SyntaxError: invalid syntax (1472475796.py, line 1)

In [12]:
## Author

Manikanta Lanke

SyntaxError: invalid syntax (1006834209.py, line 3)